<%- include('../../_partials/header.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Login de admin</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <input class="form-control" required type="email" name="email" placeholder="email@exemplo.com">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="password" name="password" placeholder="******">
                </div>
                <button type="submit" class="btn btn-success btn-block">Logar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../_partials/footer.ejs') %>